html {
  font-size: 125%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}


h2,
h3,
h4,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
}

.flex-h {
  display: flex;
  flex-direction: row;
}

.flex-v {
  display: flex;
  flex-direction: column;
}

.t-l {
  justify-content: flex-start;
}

.t-c {
  justify-content: center;
}

.t-r {
  justify-content: flex-end;
}

.t-lr {
  justify-content: space-between;
}

.v-t {
  align-items: flex-start;
}

.v-m {
  align-items: center;
}
.v-b {
  align-items: flex-end;
}
.flex-1 {
  flex: 1;
  -webkit-flex: 1;
}
.zyz-page {
  height: 100%;
  overflow: hidden;
}
.zyz-header{
  height: 10.475rem;
  /* background: url(../img/share/bg1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%; */
  background: linear-gradient(#fe7f63,#fe5448);
}
.pt1{
  width: 3.45rem;
  height: 3.45rem;
  margin-top: 1.5rem;
  border-radius: 50%;
}
.zyz-header-pro{
  margin: auto;
  height: 100%;
  position: relative;
}
.zyz-name{
  font-size: .8rem;
  color: #FFFFFF;
  margin-top: .425rem;

}
.zyz-name-time{
  margin-top: .45rem;
}
.zyz-name-time img{
  width: .75rem;
  margin-right: .25rem;
}
.zyz-name-time span{
  font-size: .6rem;
  color: #FFFFFF;
}
.zyz-name-time-lft{
  position: relative;
  margin-right: 1.3rem;
}
.zyz-name-time-lft::after{
  content: "";
  position: absolute;
  right: -.55rem;
  bottom: -18%;
  display: inline-block;
  width: 1px;
  height: .5rem;
  background: #FFFFFF;
  transform: translateY(-50%);
}
.zyz-header-num{
  width: 17.25rem;
  height: 3.75rem;
  background: #FFFFFF;
  border-radius: .25rem;
  box-shadow: 0px .075rem .25rem rgba(0, 0, 0, 0.07);
  position: absolute;
  left: 50%;
  top: 77%;
  transform: translateX(-50%);
}
.zyz-header-num h2{
  font-size: 1.25rem;
  color: #333333;
  margin: .575rem 0 .15rem 0;
}
.zyz-header-num span{
  font-size: .65rem;
  color: #666666;
}
.zyz-header-num ul li{
  position: relative;
}
.zyz-header-num ul .right::after{
  content: "";
  position: absolute;
  right: 0;
  bottom: -25%;
  display: inline-block;
  width: 1px;
  height: 1.85rem;
  background: #DEDEDE;
  transform: translateY(-50%);
}
.zyz-header-num ul li:not(:last-child)::after{
  content: "";
  position: absolute;
  right: 0;
  bottom: -25%;
  display: inline-block;
  width: 1px;
  height: 1.85rem;
  background: #DEDEDE;
  transform: translateY(-50%);
}
.zyz-main{
  overflow: auto;
  background: #F5F5F5;
}
.zyz-main-inf{
  padding:0 .75rem ;
  margin-bottom: .5rem;
  background: #FFFFFF;
}
.zyz-main-no{
  height: 2.75rem; 
  background:#FFFFFF;
}
.zyz-main-se {
  overflow: auto;
}

.zyz-main-inf p{
  height: 2.75rem;
  line-height: 2.75rem;
  border-bottom: 1px solid #EBEBEB;
}
.zyz-main-inf p:last-child{
  height: 2.75rem;
  line-height: 2.75rem;
  border-bottom: none;
}
.zyz-main-inf span:first-child{
  font-size: .75rem;
  color: #333333;
}
.zyz-main-inf span:last-child{
  font-size: .7rem;
  color: #333333;
}
.zyz-main-ty{
  margin-top: .5rem;
  background: #FFFFFF;
  padding: 0 .75rem;
}
.zyz-main-ty h2{
  font-size: .95rem;
  color: #333333;
  height: 2.6rem;
  line-height: 2.6rem;
  border-bottom: 1px solid #EBEBEB;
}
.zyz-main-ty .jij{
  display: inline-block;
  font-size: .7rem;
  color: #666666;
  margin:.6rem 0 2.1rem 0;
}
.zyz-main-ty-pop{
  margin: .8rem 0;
}
.zyz-main-ty-pop img{
  width: 2rem;
  height: 2rem;
  margin-right: .45rem;
}
.zyz-main-ty-pop p{
  padding: 0 !important;
  font-size: .825rem;
  color: #333333;
}
.zyz-main-ty p{
  padding:0 .75rem 0 2.5rem ;
  color: #666666;
  font-size: .65rem;
}
.zyz-main-ty-data{
  font-size: .6rem;
  color: #999999;
}
/* 分享页面2 */
.bg2{
  height: 10rem;
  background: url(../img/i3.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.zyz-header-djs{
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translatex(-50%);
  /* width: 12rem; */
  width: 100%;
  height: 2rem;
  background: rgba(51, 51, 51,.3);

}
.zyz-header-djs p{
  padding-left: .75rem;
  height: 2rem;
  line-height: 2rem;
  font-weight: bold;
  font-size: .75rem;
  color: #FFFFFF;
}
.zyz-header-djs p i{
  font-style: normal;
  color: #CC0000;
}
.zyz-header-djs span{
  display: inline-block;
  text-align: center;
  /* width: .95rem; */
  height: .95rem;
  background: #CC0000;
  font-weight: bold;
  font-size: .6rem;
  line-height: .9rem;
  color: #FFFFFF;
  margin: 0 .25rem;
  border-radius: 5px;
  padding: 0.05rem;
}
.zyz-header-djs span:first-child{
  display: inline-block;
  text-align: center;
  /* width: .95rem; */
  height: .95rem;
  background: #CC0000;
  font-weight: bold;
  font-size: .6rem;
  line-height: .9rem;
  color: #FFFFFF;
  margin: 0 .25rem  0 .75rem;
  border-radius: 5px;
}
.zyz-main-inf-cod span:first-child{
  margin-right: .5rem;
}
.zyz-main-no{
  padding: 0 .75rem;
}
.zyz-main-no h2{
  font-size: .8rem;
  margin: .575rem 0;
  color: #333333;
}
.h{
  height: 5.5rem;
}
.zyz-main-no ul li{
  color: #FEA533;
  font-size: .5rem;
  border: 1px solid #FEA533;
  margin-right: .5rem;
  padding: 0 .25rem;
  border-radius: .2rem;
}
.zyz-main-no-jl{
  margin-top: .75rem;
}
.zyz-main-no-jl img{
  width: .75rem;
  margin-right: .25rem;
}
.zyz-main-no-jl span{
  font-size: .7rem;
  color: #666666;
  font-weight: 400;
}
.zyz-main-no-jl-lft{
  position: relative;
  margin-right: 1.825rem;
}
.zyz-main-no-jl-lft::after{
  content: "";
  position: absolute;
  right: -1rem;
  bottom: -6%;
  display: inline-block;
  width: 1px;
  height: .5rem;
  background: #666666;
  transform: translateY(-50%);
}
.mt-20{
  margin-top: .5rem;
}
/* 分享页面2 */
.zyz-page-header{
  height: 6rem;
  background: #FFFFFF;
  padding: .9rem .9rem 0 .75rem;
}
.zyz-page-header h2{
  color: #333333;
  font-size: .9rem;
  font-weight: bold;
  margin-bottom: .675rem;
}
.zyz-page-header-pt{
  margin-bottom: .75rem;
}
.zyz-page-header-pt img{
  width: 2rem;
  height: 2rem;
  margin-right: .5rem;
}
.zyz-page-header p span:first-child{
  color: #333333;
  font-size: .7rem;
}
.zyz-page-header p span:last-child{
  color: #333333;
  font-size: .65rem;
}
.bor{
  border-bottom: 1px solid #EBEBEB;
}
.zyz-page-main p{
  font-size: .7rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: #666666;
}
.pt3{
  width: 100% ;
  margin: 1rem 0;
}
.zyz-page-main {
  padding: .75rem;
}
.zyz-footer{
  height: 7.25rem;
  padding: .75rem;
}
.zyz-footer h2{
  font-weight: 400;
  font-size: .6rem;
  color: #333333;
  margin-bottom: .75rem;
}
.zyz-footer ul{
  margin-top: .75rem;
}
.zyz-footer ul span{
  font-weight: 400;
  font-size: .6rem;
  color: #333333;
}
.zyz-footer ul li{
  color: #FEA533;
  font-size: .5rem;
  border: 1px solid #FEA533;
  margin-right: .5rem;
  padding: 0 .25rem;
  border-radius: .2rem;
}